<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recuperar contraseña</title>

    <!-- <link rel="stylesheet" type="text/css" media="screen" href="./styles/forgotPassword.css" /> -->
    <!-- <script src="forgotPassword.js"></script> -->
</head>

<body>
    <div class=container>
        <h1>Recupera tu contraseña</h1>
        <p>Escribe tu correo electrónico a continuación y se enviará un código de confirmación a tu casilla para que cambies tu contraseña.</p>
        Correo electrónico: <input type="email" name="email"><br> Código: <input type="text" name="code"><br> Nueva contraseña: <input type="password" name="newPassword"><br> Confirmar nueva contraseña: <input type="password" name="confirmNewPassword"><br>
        <input type="submit" value="Confirmar">
    </div>
</body>

</html>