<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>NAVY-FINAL-WORK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="/static/styles/login.css" />
    <script src="/static/scripts/login.js" type="module"></script>
</head>

<body>
    <h1>Navy Store</h1>
    <form id="formLogin">
        <div class="form-group">
            <img src="http://los40cl00.epimg.net/los40/imagenes/2018/05/16/actualidad/1526424037_380056_1526424188_noticia_normal.jpg" />
            <div class="email-group">
                <label class="control-label col-sm-2">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su correo" required>
            </div>
            <div class="pass-group">
                <label class="control-label col-sm-2">Contraseña</label>
                <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Ingrese su contraseña" autocomplete="off" required>
            </div>
            <div class="btn-group">
                <button class="loginBtn" type="submit">Ingresar</button>
            </div>
        </div>
    </form>
    <a href="/forgotPassword">¿Olvidaste tu contraseña?</a><br> Si no tienes una cuenta, <a href="/signup">Regístrate</a>


</body>

</html>

<!-- handleSubmit() 
type="module"
-->